
/* common style or utilites*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 40px;
    color:white;
    font-weight: 500;
    border-radius: 41px;

}


/*----------------------------- Header style--------------------- */


header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 0;
}

.company-name a {
    text-decoration: none;
    color: black;

}
.company-name h2{
    padding-left: 191px;
}
.navigation{
    display: flex;
}

.navigation-items{
    display: flex;
    padding: 0 20px;
}

.navigation-items li{
    list-style: none;
    padding:0 20px;
}

.navigation-items li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}



/*------------section 1 style----------------- */

.container{
    margin: 0;
    display: flex;
    align-items: center;
    padding:5%;
    padding-top: 60px;
}

.half-width-left{
    width: 60%;
    
    padding-left: 120px;
    
   
}
.half-width-left h1{
    font-size: 52px;
    font-weight: 700;
    margin: 0px;
   
}
.half-width-right {
    width:50%;
    padding-left: 30%;

}
.half-width-left p{
    padding-bottom: 16.1px;
    

}


.fa-long-arrow-alt-right{
    
    padding-left: 15px;
}


.dream-big{
    
    background-image: url(/media/bg/background.png);
    background-repeat: no-repeat;
    background-position: 100% -20%;
    background-size: 33%;
}

/*---------------------section 2 styles-------------*/
.container-2{
    width: 1047px;
      
}
.items{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-row-gap:2px;
    justify-items: center;
    align-items: center;
}

.single-item{
    Width :84px;
    Height:26px;
    padding-top: 30px;
    padding-bottom: 30px;
}
hr {
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgba(67, 112, 121, 0.473)));
}


 /*-------------section 3 styles--------------*/
.section3-header h2{
    text-align: center;

}

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: #AEAEAE;
}

.rating-point{
    padding-left: 4px;
}
.product-info p{
    color:#787885 ;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    margin: 2px;
    
}

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    
}

.single-product{
    width: 329px;
    height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    animation: fadeSlide 2s ease 0s 1;
    padding: 20px 25px;
    padding-right: 0px;
    border-radius: 5px;
    margin-top: 30px;
}

/*-------------------section 4------------------- */
.section4-container{
    padding-top: 100px;
    display: flex;
    width: 1047px;
    align-items: center;
    justify-content: space-between;
}
.section4-img img{
    Width :450px;
    Height:270px;
    border-radius: 10px;
}
.section4-content{
    padding-left: 120px;
}
.section4-content h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 38px;
    
}
.section4-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;

}
.section4-items ul{
    padding-left: 0;
    padding-right: 40px;
}
.section4-items li{
    list-style: none;
    padding:0px;
    padding-bottom: 5px;
    margin: 0px;
    font-weight: 300;
    color: rgb(15, 70, 15);
}
.section4-items h3{
    padding-bottom: 10px;
    margin: 0px;
    font-weight: 300;
    color: rgb(134, 132, 134);
}

/*---------------------------footer style------------------------------*/
footer{
    padding-top: 30px;
}
.footer-text{
    background-color: #0A0826;
    color: aliceblue;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-navigation-items{
    display: flex;
    padding: 0 20px;
    justify-content: center;
}
.footer-navigation-items li{
    list-style: none;
   padding:0px;
}
.footer-navigation-items li a{
    text-decoration: none;
    color: white ;
    font-weight: 600;

}
.single-item-footer{
    width:55px;
    font-size: 30px;
    background-color: #5353573b;
    margin: 5px;
    border-radius: 100px;
}

