
/* common style or utilites*/
body{
    font-family: 'Poppins', sans-serif;
}

.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 40px;
    color:white;
    font-weight: 500;
    border-radius: 41px;

}


/*----------------------------- Header style--------------------- */


header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 0;
}

.company-name a{
    text-decoration: none;
    color: black;
}
.navigation{
    display: flex;
}

.navigation-items{
    display: flex;
    padding: 0 20px;
}

.navigation-items li{
    list-style: none;
    padding:0 20px;
}

.navigation-items li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}



/*------------section 1 style----------------- */

.container{
    display: flex;
    align-items: center;
    padding:5%;
    padding-top: 60px;
}

.half-width-left{
    width: 50%;
    
    padding-left: 5%;
    
   
}
.half-width-left h1{
    font-size: 52px;
    font-weight: 700;
    margin: 0px;
   
}
.half-width-right {
    width:50%;
    padding-left: 20%;

}
.half-width-left p{
    padding-bottom: 16.1px;

}


.fa-long-arrow-alt-right{
    
    padding-left: 15px;
}


.dream-big{
    
    background-image: url(/media/bg/background.png);
    background-repeat: no-repeat;
    background-position: 90% -20%;
    background-size: 32%;
}